# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

languages/*-backup-*.po~
languages/*-backup-*.pot~

# Ignore local AI context symlinks in project root
/AGENTS
/AGENTS.MD
/CLAUDE.MD
