/*
	Credits:

	Lipis' library on GitHub: https://github.com/lipis/flag-icons
	See also: https://flagicons.lipis.dev/
*/

.fib, .fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.fi {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
}
.fi:before {
  content: " ";
}
.fi.fis {
  width: 1em;
}
.fi-xx {
  background-image: url(../flags/4x3/xx.svg);
}
.fi-xx.fis {
  background-image: url(../flags/1x1/xx.svg);
}

.fi-it {
  background-image: url(../flags/4x3/it.svg);
}
.fi-it.fis {
  background-image: url(../flags/1x1/it.svg);
}
.fi-us {
  background-image: url(../flags/4x3/us.svg);
}
.fi-us.fis {
  background-image: url(../flags/1x1/us.svg);
}
